# standard gitignore 

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
db.sqlite3
media/

node_modules/
build/
dist/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db
.vscode/
.idea/

.next/
node_modules/
*.rdb